@CHARSET "ISO-8859-1";


#divBensImoveis,.divBemImovel,#divRegras,.divRegra{
	margin: 0;
	padding: 0;
}

.divBemImovel input,.divRegra input{
	margin: 5px;
}

.divBemImovel,.divRegra{
	padding: 5px;
}

.texto{
	width: 300px;
}

/*
label{
	display:block;
	float:left;
	width: 200px;
}
*/

#rodape{
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
}

#cabecalho{
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

#conteudo{
	margin-top: 100px;
	padding-bottom: 50px;
}

#errors{
	color: red;
}

#imgBarras{
	position: fixed;
	bottom: 40px;
	display: block;
	margin-left: 400px;
	margin-right: 400px;
}





